#header {
 display:none
}
#page_body {
 position:relative;
 height:100%;
 padding:0;
 margin-top:0;
 z-index:1
}
#page_body section.container {
 position:relative;
 
 /*! padding:80px 0; */
 line-height:1.8;
 color:#555;
 z-index:2
}
#slide_area {
 width:100%;
 position:relative;
 overflow:hidden
}
#slide_area .dummy {
 width:100%;
 position:relative;
 opacity:0
}
#slide_area .images {
 overflow:hidden;
 width:100%;
 margin:0 auto
}
#slide_area img {
 position:absolute;
 width:100%
}
#slide_area .comment {
 position:absolute;
 top:100px;
 left:0;
 right:0;
 margin:auto;
 width:960px;
 height:0;
 color:#FFF;
 text-shadow:1px 1px 2px #333;
 font-size:4.0rem;
 text-align:center
}
#page_body #buy_area h2,
#page_body #sale_area h2 {
 width:100%
}
#page_body #sale_area {
 background-color:#EEE;
 padding-bottom:20px
 /*padding-bottom:100px*/
}
@media only screen and (max-width:959px) {
 #container.responsible #slide_area .comment {
  top:50px;
  width:90%;
  font-size:3.0rem
 }
}
@media only screen and (max-width:768px) {
 #container.responsible #slide_area .comment {
  font-size:2.5rem
 }
 #container.responsible #page_body .buy_sale.container .panel {
  width:50%
 }
}
@media only screen and (max-width:640px) {
 #container.responsible #page_body {
  margin-top:0
 }
 #container.responsible #slide_area .comment {
  top:20px;
  font-size:2.0rem
 }
}
@media only screen and (max-width:480px) {
 #container.responsible #slide_area .comment {
  top:10px;
  width:95%;
  font-size:1.5rem
 }
 #container.responsible #main_menu_area .menu {
  width:90%;
  margin:10px auto
 }
 #container.responsible #page_body .buy_sale.container .panel {
  width:100%
 }
}
